@charset "UTF-8";
.header__top__carousel {
  display: flex;
  overflow: hidden;
}
.header__top__carousel .carousel__item {
  flex: 0 0 auto;
  width: 100%;
}
.header__top__carousel .carousel__item img {
  display: block;
  width: 100%;
}

.header {
  /* .header__middle */
  /* .header__middle-logo */
  /* .header__middle-logo-img */
  /* .header__middle-info */
  /* .header__middle-info-time */
  /* .header__middle-info-number */
  /* .header__middle-cart */
}
.header__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}
.header__middle-logo {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__middle-logo-img {
  border-radius: 10px;
}
.header__middle-info {
  display: flex;
  flex-direction: row;
}
.header__middle-info-time {
  font-size: 19px;
  font-weight: lighter;
}
.header__middle-info-number {
  font-size: 19px;
  font-weight: lighter;
}
.header__middle-cart {
  width: max-content;
}
.header__middle-cart button {
  padding: 5px;
  background-color: rgb(27, 27, 27);
  border: none;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  height: 40px;
  cursor: pointer;
}
.header__middle-cart button i {
  color: white;
  font-size: large;
  width: 120px;
  text-align: center;
}
.header__middle-cart button i span {
  margin-left: 5%;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.offcanvas {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  transition: right 0.7s ease-in-out;
  z-index: 30;
}

.offcanvas.show {
  right: 0;
}

.offcanvas__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offcanvas__body ul {
  list-style: none;
  padding: 0;
}

.offcanvas__body ul li a {
  color: #fff;
  text-decoration: none;
}

#close-btn {
  background-color: #333;
  font-size: larger;
  color: white;
}

.offcanvas__body-button {
  color: white;
  font-weight: 500;
}

@media (min-width: 100px) and (max-width: 768px) {
  .header {
    /* .header__middle */
    /* .header__middle-logo */
    /* .header__middle-logo-img */
    /* .header__middle-info-time */
    /* .header__middle-info-number */
    /* .header__middle-cart */
  }
  .header__middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header__middle-logo {
    display: flex;
    flex-direction: column;
  }
  .header__middle-logo-img {
    display: none;
  }
  .header__middle-info-time {
    font-size: medium;
    margin-bottom: 1px;
    font-weight: lighter;
  }
  .header__middle-info-number {
    font-size: medium;
    font-weight: lighter;
  }
  .header__middle-cart {
    width: max-content;
  }
  .header__middle-cart button {
    padding: 5px;
  }
  .header__middle-cart button i {
    font-size: small;
  }
  .header__middle-cart button i span {
    font-size: small;
  }
  .offcanvas {
    width: 70%;
    /* .offcanvas__header */
  }
}
.header {
  /* .header__bottom */
  /* .header__bottom-nav */
  /* .header__bottom-link */
}
.header__bottom {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 3%;
}
.header__bottom-nav {
  position: sticky;
  top: 0; /* или любое другое значение для вашего дизайна */
  background-color: #fff; /* просто пример для наглядности */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-link {
  color: black;
  font-size: medium;
  text-decoration: none;
  font-weight: lighter;
}
.header__bottom-link:hover {
  color: #f8af35;
}

.header {
  /* .header__bottom-dropdown */
}
.header__bottom-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 40px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 360px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}

@media (min-width: 100px) and (max-width: 768px) {
  .header {
    /* .header__bottom */
    /* .header__bottom-nav */
    /* .header__bottom-link */
    /* .header__bottom-dropdown */
  }
  .header__bottom {
    width: 100%;
    overflow: auto;
  }
  .header__bottom-nav {
    position: sticky;
    top: 0;
    overflow: auto;
  }
  .header__bottom-nav::-webkit-scrollbar {
    width: 0;
  }
  .header__bottom-link {
    margin: 2%;
    font-size: medium;
  }
  .header__bottom-dropdown {
    display: none;
  }
  .dropdown-content {
    z-index: 1;
    position: relative;
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  background-color: rgb(27, 27, 27);
}
.menu__button {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-color: #333;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}
.menu__button > i {
  font-size: larger;
  color: white;
}
.menu__content {
  text-align: start;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
}
.menu__link {
  color: white;
  text-decoration: none;
  margin-top: 35%;
}
.menu__button--hidden {
  display: none;
}
.menu--open {
  width: 10%;
}

@media (min-width: 100px) and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: max-content;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
  }
  .menu__button {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
  }
  .menu__button > i {
    font-size: larger;
  }
  .menu__content {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 5%;
  }
  .menu__link {
    color: white;
    text-decoration: none;
    margin-top: 25%;
  }
  .menu__button--hidden {
    display: none;
  }
  .menu--open {
    width: 25%;
  }
}
.main {
  /* .main__welcome */
  /* .main__card-group */
  /* .main__card-group-card */
}
.main__welcome {
  font-weight: 500;
  color: rgb(65, 61, 61);
  margin-bottom: 1%;
}
.main__card-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.main__card-group-card {
  width: 300px;
  margin: 1%;
}

.card {
  /* .card__title */
  /* .card__title-img */
  /* .card__info */
  /* .card__info-name */
  /* .card__info-subtitle */
  /* .card__end */
  /* .card__end-price */
  /* .card__end-button */
}
.card__title {
  width: 100%;
}
.card__title-img {
  width: 100%;
  border-radius: 10px;
}
.card__info-name {
  font-size: 20px;
  font-weight: 400;
  color: rgb(65, 61, 61);
}
.card__info-subtitle {
  font-size: 16px;
  font-weight: lighter;
}
.card__end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__end-price h1 {
  font-size: 25px;
  font-weight: 400;
}
.card__end-button button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 125px;
  border-radius: 25px;
  height: 40px;
  font-weight: lighter;
}

@media (min-width: 100px) and (max-width: 768px) {
  .main {
    /* .main__welcome */
    /* .main__card-group */
    /* .main__card-group-card */
  }
  .main__welcome {
    font-size: 30px;
  }
  .main__card-group {
    display: flex;
    justify-content: space-between;
  }
  .main__card-group-card {
    width: 45%;
  }
  .card {
    /* .card__title *

    /* .card__title-img */
    /* .card__info */
    /* .card__info-name */
    /* .card__info-subtitle */
    /* .card__end */
    /* .card__end-price */
    /* .card__end-button */
  }
  .card__title-img {
    width: 100%;
  }
  .card__info-name {
    font-size: medium;
    font-weight: bold;
  }
  .card__info-subtitle {
    font-size: medium;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  .card__end-price h1 {
    font-size: large;
  }
  .card__end-button button {
    font-size: small;
    padding: 5px;
    width: 80px;
    height: 30px;
  }
}
@font-face {
  font-family: "Zt Chablis Regular";
  src: local("Zt Chablis Regular"), url("fonts/ZtChablisRegular-51Y1L.woff") format("woff");
}
body {
  font-family: "Zt Chablis Regular";
}/*# sourceMappingURL=main.css.map */